<section>
    <h2>Our Projects</h2>
    <p>Here are some of the solar projects we have completed:</p>
    <ul>
        <li>Solar Panel Installation - XYZ City</li>
        <li>Renewable Energy Solutions - ABC Corporation</li>
        <li>Residential Solar Systems - LMN Community</li>
    </ul>
</section>
